@import url("https://fonts.googleapis.com/css?family=Signika&display=swap");

body {
  background-color: #edf0f2;
}

.container {
  position: relative;
  margin-top: 60px;
  margin-bottom: 25px;
}

.box {
  position: static;
  max-width: 660px;
  height: 580px;
  display: grid;
  border: 10px solid rgb(13, 216, 214);
  border-radius: 9px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.colors {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 50px);
  grid-template-rows: repeat(2, 50px);
  justify-content: center;
  margin-bottom: -47px;
}

.content {
  border: 1px solid #000;
}

h1 {
  font-family: "Signika", sans-serif;
  margin-top: 30px;
  text-align: center;
  color: rgb(13, 216, 214);
}

span {
  padding: 22px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #000;
}
/*-----------image download------------*/
button {
  background-color: #7096a7;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.1rem;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

button:hover {
  background-color: #77a0b3;
}

button:focus {
  outline: 0;
}

.grid-size-btns {
  text-align: center;
}

.grid-size-btns button {
  width: 70px;
}

.grid-para {
  font-family: "Signika", sans-serif;
  margin: 10px;
  padding: 0;
  text-align: center;
}

.download {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.img-format {
  font-family: "Signika", sans-serif;
  position: absolute;
  display: none;
  bottom: 35px;
  border-radius: 3px;
  text-align: center;
  background-color: #eee;
  width: 300px;
  height: 40px;
  -webkit-box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.7);
  box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.7);
  animation: opacity 0.6s 1;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

select {
  cursor: pointer;
}

p {
  font-size: 17px;
  padding-top: 20px;
}

.close {
  position: absolute;
  top: -3px;
  right: 2px;
  padding: 0;
  border: 0;
}

.close:hover {
  color: rgb(173, 171, 171);
}
/*--------------colors-----------------*/
.red {
  background-color: #ff0000;
}

.maroon {
  background-color: #800000;
}

.green {
  background-color: #98fb98;
}

.blue {
  background-color: #0000ff;
}

.yellow {
  background-color: #ffff00;
}

.orange {
  background-color: #ffa500;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #000;
}

.skin {
  background-color: #ffe0bd;
}

.pink {
  background-color: #ffc0cb;
}

.crimson {
  background-color: #dc143c;
}

.cyan {
  background-color: #00ffff;
}

.shadow {
  -webkit-box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.7);
  box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.7);
}

@media (max-width: 672px) {
  .colors {
    margin-bottom: 5px;
  }
}

@media (max-width: 710px) {
  .box {
    max-width: 500px;
    height: 500px;
  }
}

@media (max-width: 550px) {
  .box {
    max-width: 400px;
    height: 400px;
  }
  .color {
    width: 40px;
    height: 40px;
    padding: 0;
  }
}

@media (max-width: 450px) {
  .box {
    max-width: 300px;
    height: 300px;
  }
}
