@import url("https://fonts.googleapis.com/css?family=Signika&display=swap");

.container {
  position: relative;
  margin-top: 90px;
}

.box {
  position: static;
  max-width: 660px;
  height: 580px;
  display: grid;
  border: 10px solid rgb(13, 216, 214);
  border-radius: 9px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.colors {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 50px);
  grid-template-rows: repeat(2, 50px);
  justify-content: center;
  margin-bottom: -47px;
}

.content {
  border: 1px solid #000;
}

h1 {
  font-family: "Signika", sans-serif;
  margin-top: 60px;
  text-align: center;
  color: rgb(13, 216, 214);
}

span {
  padding: 22px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #000;
}

button {
  background-color: #7096a7;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.1rem;
  cursor: pointer;
  border: none;
  padding: 10px;
}

button:focus {
  outline: 0;
}

.download {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.img-format {
  display: none;
  position: absolute;
  bottom: 30px;
  border-radius: 2px;
  text-align: center;
  background-color: #eee;
  width: 200px;
  height: 40px;
}

select {
  cursor: pointer;
}

.red {
  background-color: #ff0000;
}

.maroon {
  background-color: #800000;
}

.green {
  background-color: #98fb98;
}

.blue {
  background-color: #0000ff;
}

.yellow {
  background-color: #ffff00;
}

.orange {
  background-color: #ffa500;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #000;
}

.skin {
  background-color: #ffe0bd;
}

.pink {
  background-color: #ffc0cb;
}

.crimson {
  background-color: #dc143c;
}

.cyan {
  background-color: #00ffff;
}

@media (max-width: 672px) {
  .colors {
    margin-bottom: 5px;
  }
}
